html{
    font-size: 100px;
}
body{
    background: url(../img/95a76179ba84e3774b5e3528880d5796bab6439231267-HiFvBS_fw658.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right 0;
    font-size: 16px;
    overflow: hidden;
}
$d_list:320px,360px,375px,412px,414px;
$d-size:750px;
@each $i in $d_list{
    @media screen and (min-width:#{$i}){
        html{
            font-size: 100px * $i/$d-size;
            
        }
    }
}
//
@mixin top-bottom{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    position: relative;
}
//head
.head{
    width: 100%;
    height: 1rem;
    background: #000;
    padding: {
        left: .2rem;
        right: .2rem;
    };
    overflow: hidden;
    .head_left{
        width: 1rem;
        height: 1rem;
        float: left;
        background: url(../img/caidan.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: .4rem .4rem;
        
    }
    .head_right{
        width: 1rem;
        height: 1rem;
        float:right;
        background: url(../img/tianjia.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: .5rem .5rem;
//      background: #bfbfbf;
    }
}
.qita{
    position:fixed;
    left: 0;
    top: 0;
    width: 80%;
    height:100%;
    background: #fff;
    transition: all 1s ease;
    z-index: 20;
    opacity: 0;
    transform: translateX(-100%);
    overflow: hidden;
    .qita_head{
        width: 100%;
        height: 2.5rem;
        background: #CCCCCC;
        h1{
            font-size: 20px;
            float: left;
            margin: {
                top: .7rem;
                left: .5rem;
            };
            
        }
        h2{
            font-size: 16px;  
            float: left;
            margin: {
                left: .5rem;
            };
        }
        .qit_left{
             position: relative;
             width: 1.5rem;
             height: 100%;
             float: left;
            .qita_yuan{
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background: #5E5E5E;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
     div{
        width: 100%;
        float: left;
        line-height:.6rem;
        border-bottom: 1px dashed #cccccc;
        cursor: pointer;
        color: #000;
        font-weight: 700;
        padding: .2rem;
    }
    .all{
        border-left: 0;
    }
}
.qita_active{
    transform: translateX(0);
    opacity: 1;
}



.header{
    width: 100%;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    background:url(../img/liuxing.png) fixed;
//  background: #000;
//  background-size: cover;
    z-index: 10;
    opacity: 0;
    transform-origin: bottom center;
    transition: all 1s linear;
    overflow: hidden;
    &>input{
        width: 100%;
        height: .8rem;
        display: block;
        outline: none;
        color: #fff;
        line-height: .8rem;
        background: transparent;
        border: 0;
        border: 2px solid rgba(255,255,255,0.9);
        border-radius: 50px;
        @include top-bottom;
        padding: {
            left: 15px;
        };
    }
    .anniu{
        font-family: "微软雅黑";
        @include top-bottom;
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        font-size: 30px;
        color: #fff;     
        line-height: .5rem;
        text-align: center; 
        font-weight: 700;
        right: 0;
//      background: rgba();  
        margin: {
            right: 10px;
        };
    }
    .tuichu{
        position: absolute;
        left: 182px;
        top: 153px;
        width: 3rem;
        height:3rem;
        border-radius: 50%;
//      background:rgba();
        transition: all 1s linear;
        
    }
}
.tuichu_active{
    height:100%;
    opacity: 1;
}

.ul{
    margin: {
        top: 40px;
    };
   

    li{
        width: 7rem;
        margin: 0 auto;
        height:1rem;
        line-height: .6rem;
        border: 1px solid #ECECEC;
//      border-top: 0;
//      border-bottom:1px solid #ECECEC ;
        position: relative;
        background: rgba(255,255,255,0.3);
        margin: {
            bottom: 10px;
        };
        .content{
            
            line-height: 1rem;
            color: #fff;
            @include top-bottom;
            padding: {
                left: 10px;
            };
        }
        .delete{
            display: none;
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            position: absolute;
            right: 0;
            @include top-bottom;
            line-height: .5rem;
            text-align: center;
//          background: red;
            font-size: 20px;
            font-family: "微软雅黑";
            color: #fff;
            margin: {
                right: 10px;
            };
        }
    }
    
    li:last-child{
        border: 1px solid #ECECEC;
        border-radius:0 0 10px 10px;
    }
    li:first-child{
        border: 1px solid #ECECEC;
        border-radius:10px 10px 0 0;
    }
}
li.done{
    .content{
        text-decoration: line-through;
        color: red;
    }
    
}
li.done{
     .delete{
        display: block;
        z-index: 8;
    }
}
//动画
.active{
    animation: del 4s ease both;
}
@keyframes del{
    0%{transform: translateX(0)};
    100%{transform:translateX(150%)};
}

.yemian{
    width: 100%;
    height:100%;
    position: fixed;
    left: 0;
    top:0;
    z-index: 10;
    background: url(../img/0102f656fd025932f875a94463b5ff.png@900w_1l_2o_100sh.jpg);
    background-size: cover;
    transition: all 1s linear;
    transform-origin: center bottom;
//  display: none;
    overflow: hidden;
    h1{
        font-size: 52px;
        text-align: center;
        color: #fff;
        word-spacing:8px; 
        letter-spacing: 40px;
        text-transform: uppercase;
        position: absolute;
        left: 0;
        right: 0;
        top: 144px;
        margin: auto;
    }
    .ye_wei{
        position: absolute;
        left: 127px;
        top: 414px;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.2rem;
//      background: #fff;
        border: 8px solid rgba(255,255,255,0.3);
        border-radius: 50%;
        .ye_nei{
            width: 100%;
            height: 100%;
            background:transparent;
            border-radius: 50%;
            border: 8px solid rgba(255,255,255,0.3);
            transition: all 1s linear;
            padding: 0.2rem;
            .ye_li{
                width: 100%;
                height: 100%;
                background:rgba(255,255,255,0.3);
                border-radius: 50%;
                transition: all 1s linear;
            }
        }
    }
}
.ye_hidden{
    opacity: 0;
    transform:scale(0);
    height: 0;
}
